<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETE+</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" </head>

<body>
    <!-- HEADER / NAV -->
    <header>
        <!-- navbar botstrap-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <a class="navbar-brand" href="{{url_for('index')}}"> ETE+</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('login')}}">LOGIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('cadastro')}}">CADASTRO</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('feed')}}">FEED</a>
                    </li>
                </ul>
                <!--<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>-->
            </div>
        </nav>
    </header>
    {% block content %} {% endblock %}
    </div>
    </main>

    <!-- RODAPÉ -->
    <footer class=" text-center fixed-bottom">
        <nav>
            <a href="#">Início</a>
            <a href="#">Sobre</a>
            <a href="#">Contato</a>
        </nav>
        <div>
            &copy; 2025 - ETE+ | Desenvolvido por MJ desenvolvimento WEB
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>